<div [@routerTransition]>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i><a routerLink="/dashboard">Dashboard</a></li>
        <li>&nbsp;<small>Manage Group</small></li>
    </ol>
    <div class="container">
        <div class="card add box effect2">
            <div class="card-header">
                    <div class="card-icon">
                            <i class="fa fa-address-book-o" aria-hidden="true"></i>
                    </div> 
                <h4>Add Group</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8 offset-md-2 col-sm-12">
                        <form [formGroup]="formdata" role="form" method="POST" (ngSubmit)="addGroup()">
                            <div class="form-group input-group">
                                <!-- <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div> -->

                                <input type="text" class="form-control" placeholder="Name" name="name"
                                    formControlName="name">
                            </div>
                            <div style="color:red;"
                                *ngIf="error && formdata.controls.name.errors != null && formdata.controls.name.errors.required">
                                Name
                                is required.</div>
                            <div class="form-group input-group">

                                <!-- <mat-form-field class="example-full-width form-control">
                                            <input matInput placeholder="Choose a publisher" [matAutocomplete]="auto" formControlName="publishers" (blur)="hideLoader()" (keyup)="showLoader()">
                                        </mat-form-field>-->
                                <img src="../../../../assets/images/loader.gif"
                                    style="position: absolute; z-index: 999; width: 60px;right: 12px;"
                                    *ngIf="isLoading">
                                <mat-form-field class="example-chip-list form-control">
                                    <mat-chip-list #chipList>
                                        <mat-chip *ngFor="let pub of publishers" [selectable]="selectable"
                                            [removable]="removable" (removed)="remove(pub)">
                                            {{pub.fullname}}
                                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                        </mat-chip>
                                        <input placeholder="Choose Publisher..." #pubInput
                                            [formControl]="publishersCtrl" [matAutocomplete]="auto"
                                            [matChipInputFor]="chipList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            [matChipInputAddOnBlur]="addOnBlur">
                                    </mat-chip-list>
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                        <mat-option *ngFor="let publisher of filteredpublishers | async"
                                            [value]="publisher">
                                            {{publisher.fullname}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <!-- <select class="form-control" name="pub_queue" formControlName="pub_queue">
                                            <option value="travel" [selected]="true">Travel</option>
                                            <option value="tech">Tech</option>
                                            <option value="others">Others</option>                                
                                        </select>-->
                               
                            </div>
                            <div style="color:red;" *ngIf="error && pub_error">
                                    Publisher
                                    is required.</div>
                            <button type="submit" class="btn btn-secondary btn-success">Submit</button>&nbsp;
                            <a routerLink="/managegroup" class="btn btn-secondary btn-default">Cancel</a>
                        </form>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
</div>