ng-multiselect-dropdown.margin-span span {
    margin: 3px !important;
}
.td.mat-cell {
    padding: 11px !important;
}
.mat-column-select {
    overflow: visible;
}
.mat-column-select {
    overflow: visible;
  }
.mat-table .mat-checkbox{
    margin-top: 15px !important;
}  
.dropdown-btn[_ngcontent-c5] .selected-item[_ngcontent-c5] {
    border: 1px solid #337ab7;
    margin-right: 4px;
    background: #337ab7;
    padding: 0 5px;
    color: #fff;
    border-radius: 2px;
    float: left;
    margin: 3px !important;
}