<div [@routerTransition]>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i><a routerLink="/dashboard">Dashboard</a></li>
        <li>&nbsp;<small>Manage TFN(s)</small></li>
    </ol>
    <div class="container">
        <div class="card add box effect2">
            <div class="card-header">
                    <div class="card-icon">
                            <i class="fa fa-address-book-o" aria-hidden="true"></i>
                    </div> 
                <h4>Add TFN(s)</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8 offset-md-2 col-sm-12">
                        <form [formGroup]="formdata" role="form" method="POST" (ngSubmit)="addTfn()">
                            <div class="form-group input-group">
                            <select name="server" class="form-control" formControlName="server">
                                <option *ngFor="let ss of servers" value="{{ss|json}}">{{ss.server_name}}|&nbsp;{{ss.ip}}</option>
                            </select>
                            </div>
                            <div class="form-group input-group">
                                <!-- <div class="input-group-prepend">
                                    <span class="input-group-text" style="height:150px;"><i class="fa fa-phone"
                                            style="position: relative; top: 40%;"></i></span>
                                </div> -->
                                <textarea class="form-control" placeholder="Add TFN" name="tfn" formControlName="tfn"
                                    style="height:150px;" (keyup)="checkTFN($event)"></textarea>
                            </div>
                            <div style="color:red;"
                                *ngIf="error && formdata.controls.tfn.errors != null && formdata.controls.tfn.errors.required">
                                TFN
                                is required.</div>
                            <div style="color:red;"
                                *ngIf="error && formdata.controls.tfn.errors != null && formdata.controls.tfn.errors.minlength">
                                TFN
                                should be minimum of 10 digits.</div>
                            <div style="color:red;" *ngIf="tfn_error">{{error_message}}</div>
                            <button type="submit" class="btn btn-secondary btn-success" [disabled]="tfn_error"
                                style="margin-top:0px;">Submit</button>&nbsp;
                            <a routerLink="/tfns" class="btn btn-secondary btn-default">Cancel</a>
                        </form>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
</div>