<div [@routerTransition]>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i><a routerLink="/dashboard">Dashboard</a></li>
        <li>&nbsp;<small>Edit Password</small></li>
    </ol>
    <div class="container">
        <div class="card add box effect2">
            <div class="card-header">
                    <div class="card-icon">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </div>
                <h4>Change Password</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-12">
                        <flash-messages></flash-messages>
                        <form [formGroup]="formdata" role="form" method="POST" (ngSubmit)="save()">
                            <div class="form-group input-group">
                                <!-- <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                                </div> -->
                                <input type="password" class="form-control" placeholder="Old Password" name="old_passwd"
                                    formControlName="old_passwd">
                            </div>
                            <div style="color:red;"
                                *ngIf="error && formdata.controls.old_passwd.errors != null && formdata.controls.old_passwd.errors.required">
                                Old Passsword
                                is required.</div>
                            <div *ngIf="error && formdata.controls.old_passwd.errors != null &&  formdata.controls.old_passwd.errors.minlength"
                                style="color:red;">Password must be at least 8 characters</div>
                            <div class="form-group input-group">
                                <!-- <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                </div> -->

                                <input type="password" class="form-control" placeholder="Enter Password" name="passwd"
                                    formControlName="passwd">
                            </div>
                            <div style="color:red;"
                                *ngIf="error && formdata.controls.passwd.errors != null && formdata.controls.passwd.errors.required">
                                Password
                                is required.</div>
                            <div *ngIf="error && formdata.controls.passwd.errors != null &&  formdata.controls.passwd.errors.minlength"
                                style="color:red;">Password must be at least 8 characters</div>
                            <div class="form-group input-group">
                                <!-- <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                </div> -->

                                <input type="password" class="form-control" placeholder="Confirm Password"
                                    name="cnf_passwd" formControlName="cnf_passwd">
                            </div>
                            <div style="color:red;"
                                *ngIf="error && formdata.controls.cnf_passwd.errors != null && formdata.controls.cnf_passwd.errors.required">
                                Confirm
                                password is required.</div>
                            <div style="color:red;" *ngIf="password_error">Password is not matched.</div>

                            <button type="submit" class="btn btn-secondary btn-success">Save</button>&nbsp;
                            
                            <a routerLink="/users/profile" class="btn btn-secondary btn-default" *ngIf="loggedUser.role !== 'buyer'">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>