<div [@routerTransition]>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i><a routerLink="/dashboard">Dashboard</a></li>
        <li>&nbsp;<small>Manage Campaign</small></li>
    </ol>

    <div class="container">
        <div class="card add box effect2">
            <div class="card-header">
                <div class="card-icon">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </div>
                <h4>Campaign Add TFN(s)<small>(Step 2)</small></h4>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-8 offset-md-2 col-sm-12">
                        <div class="alert alert-danger" *ngIf="show_error">{{error_message}}</div>
                        <div class="row" *ngIf="selected_campaign !== undefined">
                            <div class="col-md-12">
                                <div class="form-group input-group">
                                    <h4> Campaign Details </h4>
                                    <table class="table table-hover table-stripped table-bordered">
                                        <tr>
                                            <th>Name</th>
                                            <th>Value</th>
                                            <th>Name</th>
                                            <th>Value</th>
                                        </tr>
                                        <tr>
                                            <td>Campaign Name</td>
                                            <td>{{selected_campaign.camp_name}}</td>
                                            <td>Publisher</td>
                                            <td>{{selected_campaign.publisherName}}</td>
                                        </tr>
                                        <tr>
                                            <td>Buffer Time</td>
                                            <td>{{selected_campaign.buffer_time}}</td>
                                            <td>Price Per Call</td>
                                            <td>{{selected_campaign.price_per_call}}</td>
                                        </tr>
                                        <tr>
                                            <td>Active On</td>
                                            <td>{{selected_campaign.active_on}}</td>
                                            <td>Active Off</td>
                                            <td>{{selected_campaign.active_off}}</td>
                                        </tr>
                                        <tr>
                                            <td>Read Only</td>
                                            <td>{{selected_campaign.read_only}}</td>
                                            <td>Status</td>
                                            <td>{{selected_campaign.status}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <dual-list display="tfn" [source]="source" [(destination)]="confirmed" [format]="format"></dual-list>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-secondary btn-success" (click)="addTFN()">Next</button>&nbsp;
                                <a routerLink="/campaign" class="btn btn-secondary btn-default">Cancel</a>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>

    </div>
</div>
