<div [@routerTransition]>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i><a routerLink="/dashboard">Dashboard</a></li>
        <li>&nbsp;<small>Manage Audit Profile</small></li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <flash-messages></flash-messages>
        </div>

    </div>
    <div class="col-md-12 col-md-offset-1">
        <div class="pull-left">
            <a routerLink="/auditprofile/add" class="btn btn-success">Add Audit</a>
        </div>

        <!-- data tables -->
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
            class="mat-elevation-z8 table-bordered mat-table" style="width:100%">
            <thead>
                <tr class="mat-header-row">
                    <th
                        class="mat-header-cell">
                        UID
                    </th>
                    <th
                        class="mat-header-cell ">
                        User</th>
                    <th
                        class="mat-header-cell ">
                        Fullname</th>
                    <th
                        class="mat-header-cell ">
                        Email</th>
                    <th
                        class="mat-header-cell ">
                        Contact Number</th>
                    <th
                        class="mat-header-cell ">
                        Created At</th>
                    <th
                        class="mat-header-cell ">
                        Status</th>
                    <th
                        class="mat-header-cell ">
                        Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="mat-row" *ngFor="let element of users; let i = index">
                    <td class="mat-cell">{{element.uid}}</td>
                    <td class="mat-cell">{{element.username}}</td>
                    <td class="mat-cell">{{element.fullname}}</td>
                    <td class="mat-cell">{{element.email}}</td>
                    <td class="mat-cell">{{element.contact}}</td>
                    <td class="mat-cell">{{element.created_at}}</td>
                    <td class="mat-cell">{{(element.status)}}</td>
                    <td class="mat-cell">
                        <a routerLink="/auditprofile/assigned/{{element.uid}}" title="Assign Publishers"><i
                                class="fa fa-users"></i></a>&nbsp;
                        <a routerLink="/auditprofile/edit/{{element.uid}}" title="Edit"><i
                                class="fa fa-pencil"></i></a>&nbsp;
                        <i class="fa fa-trash-o" (click)="deleteAduit(element.uid)" style="color:#0062cc;"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <img src="../../../../assets/images/loading.gif" style="position: absolute; z-index: 999; left: 40%;"
        *ngIf="isLoading">
</div>
