<div [@routerTransition]>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i><a routerLink="/dashboard">Dashboard</a></li>
        <li>&nbsp;<small>EOD Report(Call Detail Report)</small></li>
    </ol>

    <div class="row ui eod">
        <div class="col col-sm-12">
            <div class="card mb-3">
                <div class="card-header"></div>
                <div class="card-body eod">
                    <form [formGroup]="formdata" role="form" method="POST" (ngSubmit)="searchWithFilter()">
                        <div class="row">
                            <div class="col-md-4 offset-md-2">

                                <div class="form-group">
                                    <label>Group</label>
                                    <select (change)="getPublishers($event)" formControlName="gid" class="form-control"
                                        placeholder="-Select Group-">
                                        <option value="" [selected]="true">--Select Group--</option>
                                        <option *ngFor="let group of Groups" value="{{group.gid}}">{{ group.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Select Date</label>
                                    <div class="input-group datepicker-input">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                                            formControlName="selected_date" ngbDatepicker #d="ngbDatepicker"
                                            dateFormat="yyyy-MMM-dd">
                                        <button class="input-group-addon" (click)="d.toggle()" type="button">
                                            <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                                            <span class="fa fa-calendar"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Publishers</label>
                                    <select multiple formControlName="pub_id" class="form-control select_eod"
                                        placeholder="-Select Publishers-">
                                        <option *ngFor="let publishers of selectedPublishers"
                                            value="{{publishers.uid}}">{{publishers.fullname}}
                                        </option>
                                    </select>
                                </div>
                                <button type="submit"
                                    class="eod btn btn-secondary btn-success btn-block pull-right">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row ui">
        <div class="col col-sm-12">
            <div class="card mb-3">
                <div class="card-header"></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-1">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                class="mat-elevation-z8 table-bordered mat-table" style="width:100%">
                                <thead>
                                    <tr class="mat-header-row ng-tns-c13-4 ng-star-inserted">
                                        <th
                                            class="mat-header-cell ng-tns-c14-6 cdk-column-uid mat-column-uid ng-tns-c13-4 ng-star-inserted">
                                            Fullname
                                        </th>
                                        <th
                                            class="mat-header-cell ng-tns-c14-6 cdk-column-uid mat-column-uid ng-tns-c13-4 ng-star-inserted">
                                            Total
                                            Calls</th>
                                        <th
                                            class="mat-header-cell ng-tns-c14-6 cdk-column-uid mat-column-uid ng-tns-c13-4 ng-star-inserted">
                                            Unique Calls</th>
                                        <th
                                            class="mat-header-cell ng-tns-c14-6 cdk-column-uid mat-column-uid ng-tns-c13-4 ng-star-inserted">
                                            Total
                                            Answered Calls
                                            Number</th>
                                        <th
                                            class="mat-header-cell ng-tns-c14-6 cdk-column-uid mat-column-uid ng-tns-c13-4 ng-star-inserted">
                                            AHT
                                            (in
                                            minutes)</th>
                                        <th
                                            class="mat-header-cell ng-tns-c14-6 cdk-column-uid mat-column-uid ng-tns-c13-4 ng-star-inserted">
                                            Total Payable Calls</th>
                                        <th
                                            class="mat-header-cell ng-tns-c14-6 cdk-column-uid mat-column-uid ng-tns-c13-4 ng-star-inserted">
                                            Total Payable Minutes(for Charge/Minute)</th>
                                        <th
                                            class="mat-header-cell ng-tns-c14-6 cdk-column-uid mat-column-uid ng-tns-c13-4 ng-star-inserted">
                                            Total Payable Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let element of EOD" class="mat-row ng-tns-c4-0 ng-star-inserted">
                                        <td class="mat-cell ng-star-inserted">
                                            {{element.publisher !== undefined ?element.publisher.fullname:'-NA-'}}
                                        </td>
                                        <td class="mat-cell ng-star-inserted">{{element.total_calls_length}}</td>
                                        <td class="mat-cell ng-star-inserted">{{element.unique_calls_length}}</td>
                                        <td class="mat-cell ng-star-inserted">{{element.answered_calls_length}}
                                        </td>
                                        <td class="mat-cell ng-star-inserted">{{(element.aht /
                            element.total) | number:'1.0-0'}}</td>
                                        <td class="mat-cell ng-star-inserted">
                                            {{(element.settings.charge_per_minute)?'-NA-':element.payable_calls_length}}
                                        </td>
                                        <td class="mat-cell ng-star-inserted">
                                            {{(element.settings.charge_per_minute? (element.total_duration / 60) :0)| number:'1.0-0'}}
                                        </td>
                                        <td class="mat-cell ng-star-inserted">{{element.payable_amount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <img src="../../../../assets/images/loading.gif"
                                style="position: absolute; z-index: 999; left: 40%; top:40%;" *ngIf="isLoading">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
